
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-color: #f8f9fa; 
    --text-color: #343a40;

    --heading-font: Farsan;
    --paragraph-font: Handlee;

    --nav-background-color: #343a40;
    --nav-link-color: #007bff;
    --nav-hover-link-color: #343a40;
    --nav-hover-background-color: #007bff;
}


h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: #6c757d;
    text-align: left;
}

.map {
    align-content: center;
    display: flex;
}


figure {
    padding: 2px;
    margin: 2px;
}

header{
    padding: 2px;
    margin: 2px;
    align-items: flex-start;
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: 1fr 2fr;
}

p{
    padding: 2px;
}

nav{
    background-color: var(--nav-background-color);
    font-size: 1rem;
    display: flex;
    height: 40px;
    align-items: center;
}
nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited{
    color: var(--nav-link-color);
}
nav a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);


}

hero-content {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
  }
  
  .hero h1 {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .hero article {
    position: absolute;
    width:80%;
    top: 60px;
    left: 50%;
    height: 280px;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px;
    margin: 5px;
    
  }
  
  .hero article img {
    width: 250px;
    float: right;
    margin-top: 40px;
    height: auto;
  }

  .hero article p {
    color: aquamarine;
    font-family: var(--paragraph-font);
}
  
footer {
    position: relative;
    align-items: center;
}

footer p {
    position: absolute;
}


footer nav {
    position: absolute;
    width: 180px;
    float: right;
    height: 40px;
    margin-top: 35px;
    left: 70%;
    align-items: center;
}

footer img{
    width: 100%;
    height: auto;
    margin: 0px;
    
}

.employee {
    display: flex;
    align-items: center;
    flex-direction: row;
}

button {
    background-color: aqua;
    font-style: italic;
}