main {
    max-width: 840px;
}

p {
    color: black;
    padding: 0;
}
html {
    background-color: aquamarine;
}
h1 {
    margin: 0;
    padding: 20px 0;
    color: blue;
    text-shadow: 2px 2px 1px black;
}
img {
    display: block;
    width: 200px;
    height: auto;
    margin: 30px auto;
}
main img {
    width: 160px;
    padding: 2px;
    height: auto;
    float:right;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selector */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: rgba(255, 192, 203, .7);
    color: brown;
}

aside{
    width: 25em;
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 470px;
    left: 200px;
}